.rps-h2{
    width: fit-content;
    margin: auto;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.paper, .computer-loses{
    max-width: 33%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.start, .robot-hand, .rock, .scissors{
    max-width: 60%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.rps-figcap{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.rps-picks{
    margin-bottom: 1rem;
}

.rps-p{
    width: fit-content;
    margin: auto;
    background-color: hsla(0, 0%, 100%, 0.5);
    font-weight: bolder;
}

.rps-buttons{
    margin: 1rem;
}
