.booklist{
    border: .09rem solid lightgrey;
}

.ranking-block{
    width: fit-content;
    color: white;
    background-color:rgb(215, 91, 46);
    padding-left: .5rem;
    padding-bottom: 0.3rem;
    padding-top: 0.2rem;
}

@media only screen and (max-width: 1200px){
    .ranking-block{
        font-size: .5rem;
    }
}

.border-cap{
    background-image: linear-gradient(to bottom right, rgb(215, 91, 46) 43%, white 57%);
    padding-bottom: 0.3rem;
    padding-top: 0.2rem;
}

.book-cover{
    display: block;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media only screen and (max-width: 1200px){
    .book-cover{
        max-width: 90%;
    }
}

@media only screen and (max-width: 1000px){
    .book-cover{
        padding-left: 0;
        padding-right: 0;
    }
    
    .inside-book-box{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 600px){
    .book-cover{
        max-width: 100%;
    }
}


.book-title, .author, .book-format-type, .book-price, .rating-amount{
    font-family: Arial, Helvetica, sans-serif;
}

.book-title, .author, .rating-amount{
    color: rgb(1, 121, 121);
}

.star-section{
    display: inline-flex;
}

.star-icon, .half-star-icon{
    color: rgb(216, 159, 1);
    font-size: .8rem;
}

.book-title{
    font-size: .9rem;
}

@media only screen and (max-width: 1200px){
    .book-title{
        font-size: .75rem;
    }
}

@media only screen and (max-width: 800px){
    .book-title{
        font-size: .5rem;
    }
}

.author, .rating-amount{
    font-size: .8rem;
}

@media only screen and (max-width: 1200px){
    .author, .rating-amount, .star-icon, .half-star-icon{
        font-size: .6rem;
    }
}

@media only screen and (max-width: 800px){
    .author, .rating-amount, .star-icon, .half-star-icon{
        font-size: .5rem;
    }
}

.book-format-type{
    font-size: .75rem;
}

@media only screen and (max-width: 1200px){
    .book-format-type{
        font-size: .5rem;
    }
}

.book-price{
    color: rgb(159, 42, 0);
    font-size: .9rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 1200px){
    .book-price{
        font-size: .75rem;
    }
}

@media only screen and (max-width: 800px){
    .book-price{
        font-size: .5rem;
    }
}

.book-title, .author, .star-section, .book-format-type, .book-price{
    padding-top: .15rem;
}

.inside-book-box{
    padding: 1rem 1rem 0 1rem;
}