.sign-in-footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    border-top: .09rem solid rgb(152, 151, 151);
    border-bottom: .09rem solid rgb(152, 151, 151);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sign-in-button{
    font-size: .8rem;
    font-weight: bold;
    border: .09rem solid rgb(215, 91, 46);
    background-image: linear-gradient(to bottom, rgb(245, 210, 96), rgb(242, 221, 154) 35%, rgb(250, 189, 66) 80%);
    border-radius: .2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}