.marketing-footer {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .85rem;
  line-height: 1.5rem;
  background-color: rgb(35, 46, 59);
  color: whitesmoke;
  padding-top: 2.5rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

@media only screen and (max-width: 900px){
  .marketing-footer{
    font-size: .65rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.list-column {
  flex-flow: column;
  list-style: none;
  padding-right: 1rem;
}

.list-title {
  font-weight: bold;
}

.joined-li{
    line-height: 1rem;
}