.side-bar-nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85rem;
    line-height: 1.5rem;
    display: inline-block;
    padding-top: .75rem;
    padding-right: 6.4rem;
}

@media only screen and (max-width: 900px){
    .side-bar-nav{
        font-size: .65rem;
    }
}

.first-category{
    padding-left: 1rem;
    list-style-type: none;
}

.second-category{
    list-style-type: none;
    padding-left: .8rem;
}

.third-category{
    list-style-type: none;
    padding-left: .8rem;
}

.fourth-category{
    list-style-type: none;
    padding-left: .8rem;
}

.selected-category{
    font-weight: bold;
}