.tertiary-bar {
  display: flex;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.books {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  padding-left: 1.25rem;
}

.tertiary-bar-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  font-weight: lighter;
  padding-left: 1.5rem;
}

.best-seller-bar {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(1, 125, 138);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.bs-bar-line1 {
  font-size: 4rem;
  color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  .bs-bar-line1{
    font-size: 3rem;
  }  
}

@media only screen and (max-width: 600px) {
  .bs-bar-line1{
    font-size: 2rem;
  }  
}

.bs-bar-line2 {
  color: whitesmoke;
  font-weight: bold;
}

@media only screen and (max-width: 800px){
  .bs-bar-line2{
    font-size: .9rem;
  }
}

@media only screen and (max-width: 600px){
  .bs-bar-line2{
    font-size: .6rem;
  }
}