.box1{
    display: block;
    background-color: hsla(0, 0%, 100%, 0.5);
    border: 2px solid black;
    width: fit-content;
    margin: 2vw auto;
    padding: 2vw;
}

button{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2{
    text-align: center;
}

.hslList{
    list-style-type: none;
    padding: .5rem;
}