.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
  }

.App-logo1 {
    animation: App-logo-spin infinite 20s linear;
  }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



.App-logo2 {
    animation: App-logo-spin-reverse infinite 20s linear;
  }

@keyframes App-logo-spin-reverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  