* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-direction: row;
  background-color: rgb(8, 8, 35);
}

/* search bar NEEDS WORK*/
.form {
  display: flex;
  flex-direction: row;
  border: none;
  padding-left: 1rem;
}

.search-field {
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding: 1rem 3rem 1rem 1rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
}

.search-button {
  background-color: goldenrod;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: -1rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.search-icon{
  font-size: 1.25rem;
}
/* end of search bar */

.amazon-logo{
  max-width: 10rem;
  height: auto;
}

p{
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.hello{
  color: lightgray;
}

.flag-icon{
  padding-left: 1rem;
}

.topbar{
  color: white;
}

.span{
  font-weight: bold;
}

.cart{
  font-size: 1.15rem;
  padding-top: 1rem;
}