* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (orientation: landscape){
  .portrait-orientation{
    display: none;
  }
}

@media screen and (orientation: portrait){
  .landscape-orientation{
    display: none;
  }
}

.side-nav-and-books{
  display: inline-flex;
}