* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-direction: row;
  background-color: rgb(8, 8, 35);
}

/* search bar NEEDS WORK*/
.form {
  display: flex;
  flex-direction: row;
  border: 2px black solid;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background-color: goldenrod;
  border: none;
  outline: none;
  margin-left: -33px;
}
/* end of search bar */

.amazon-logo{
  max-width: 10rem;
  height: auto;
}

.hello{
  color: dimgray;
}

.topbar{
  color: lightgray;
}